.sigbt{
  
    margin-left: 30px;
    height: 34px;
    width: 70px;
  }
  .logbt{
  
    margin-left: 77%;
    height: 34px;
    width: 70px;
    margin-bottom: 0px;
    
  }
  .homename{
    font-size: 20px;
    margin-left: 5%;
    color: aliceblue;
  }
  .homewel{
    margin-top: 25%;
    margin-bottom: 0%;
    margin-left: 40%;
    margin-right: 0%;
  }
  